# Laravel Specific
/vendor
/node_modules
/public/build
/public/hot
/public/storage/*
!public/storage/.gitkeep
/storage/*.key
/storage/pail
/storage/debugbar/
bootstrap/cache/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/sessions/*
storage/logs/*.log


.env
.env.backup
.env.production
auth.json

.phpunit.result.cache
/.phpunit.cache
Homestead.json
Homestead.yaml

/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

npm-debug.log
yarn-error.log
/public/mix-manifest.json
/public/css/*.map
/public/js/*.map
/public/vendor
/public/images/*
!public/images/default.jpg
!public/images/logo.png
!public/images/.gitkeep

/mylaravel.host-key.pem
/mylaravel.host.pem